* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-weight: 400;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#login-grid-container {
  display: flex;
  padding: 20px;
  align-items: center;
}

#backgroundIMG {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
  z-index: -1;
}

#tailoringLogo {
  max-width: 350px;
  max-height: 350px;
  position: relative;
  left: -53px;
}

#right-container {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 83px;
}

#upper-image-part {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#login {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
  box-sizing: content-box;
}

#upperImage {
  max-width: 130px;
  max-height: 130px;
}

#lower-credentials-part {
  display: flex;
  flex-direction: column;
}

#username-container,
#password-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#usernameIMG,
#passwordIMG {
  position: absolute;
  max-width: 30px;
  max-height: 30px;
  left: 8px;
  height: 100%;
}

#loginButton {
  color: #ffffff;
  background-color: #2f4464;
  border: none;
  align-self: flex-end;
  padding: 8px 27px 8px 27px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

#loginButton:hover {
  cursor: pointer;
  background-color: #71a3f0;
  transform: scale(1.02);
}

#loginButton:active {
  cursor: pointer;
  background-color: #5378b0;
  transform: scale(0.95);
}

.inputs {
  height: 30px;
  border: 0px;
  padding: 5px 11px 5px 40px;
  border-radius: 7px;
  display: block;
  outline: 0;
  background-color: #eeeeee;
}

.inputs:focus,
.inputs:hover {
  background-color: white;
}

.inputs:focus::placeholder {
  color: transparent;
}

/* @media (min-width: 576px) {
    
} */
